<div>
  <h2 id="page-heading" data-cy="CocheHeading">
    <span jhiTranslate="appApp.coche.home.title">Coches</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appApp.coche.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-coche"
        [routerLink]="['/coche/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appApp.coche.home.createLabel">Crear nuevo Coche</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (coches?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="appApp.coche.home.notFound">Ningún Coches encontrado</span>
    </div>
  }

  @if (coches && coches.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="color">
              <div class="d-flex">
                <span jhiTranslate="appApp.coche.color">Color</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numeroSerie">
              <div class="d-flex">
                <span jhiTranslate="appApp.coche.numeroSerie">Numero Serie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="precio">
              <div class="d-flex">
                <span jhiTranslate="appApp.coche.precio">Precio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="exposicion">
              <div class="d-flex">
                <span jhiTranslate="appApp.coche.exposicion">Exposicion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nPuertas">
              <div class="d-flex">
                <span jhiTranslate="appApp.coche.nPuertas">Puertas</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="marca.id">
              <div class="d-flex">
                <span jhiTranslate="appApp.modelo.marca">Marca</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="modelo.id">
              <div class="d-flex">
                <span jhiTranslate="appApp.coche.modelo">Modelo</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (coche of coches; track trackId) {
            <tr data-cy="entityTable" [ngClass]="{ 'bg-danger': !coche.exposicion }">
              <td>
                <a [routerLink]="['/coche', coche.id, 'view']">{{ coche.id }}</a>
              </td>
              <td>{{ coche.color }}</td>
              <td>{{ coche.numeroSerie }}</td>
              <td>{{ coche.precio }}</td>
              <td>{{ coche.exposicion? 'Expuesto':'No expuesto' }}</td>
              <td>{{ coche.npuertas }}</td>
              <td>
                @if (coche.marca) {
                  <div>
                    <a [routerLink]="['/marca', coche.marca.id, 'view']">{{ coche.marca.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (coche.modelo) {
                  <div>
                    <a [routerLink]="['/modelo', coche.modelo.id, 'view']">{{ coche.modelo.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/coche', coche.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/coche', coche.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(coche)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
