tr.bg-mal td {
  background-color: #fe959e;
}

tr.bg-bien td{
  background-color: #99ff99;
}

td.bg-etiqueta-c{
  background-color: #99ff99 !important;
}

td.bg-etiqueta-b{
  background-color: #f8ff99 !important;
}

td.bg-etiqueta-0{
  background-color: #99c9ff !important;
}