@if (coche) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(coche.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="cocheDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirmar operación de borrado</h4>

      <span class="btn btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></span>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p id="jhi-delete-coche-heading" jhiTranslate="appApp.coche.delete.question" [translateValues]="{ id: coche.id }">
        ¿Seguro que quiere eliminar Coche {{ coche.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
      </button>

      <button id="jhi-confirm-delete-coche" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Eliminar</span>
      </button>
    </div>
  </form>
}
