<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-coche-heading" data-cy="CocheCreateUpdateHeading" jhiTranslate="appApp.coche.home.createOrEditLabel">
        Crear o editar Coche
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appApp.coche.color" for="field_color">Color</label>
          <input type="text" class="form-control" name="color" id="field_color" data-cy="color" formControlName="color" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appApp.coche.numeroSerie" for="field_numeroSerie">Numero Serie</label>
          <input
            type="text"
            class="form-control"
            name="numeroSerie"
            id="field_numeroSerie"
            data-cy="numeroSerie"
            formControlName="numeroSerie"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appApp.coche.precio" for="field_precio">Precio</label>
          <input type="number" class="form-control" name="precio" id="field_precio" data-cy="precio" formControlName="precio" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appApp.coche.exposicion" for="field_exposicion">Exposicion</label>
          <input
            type="checkbox"
            class="form-check"
            name="exposicion"
            id="field_exposicion"
            data-cy="exposicion"
            formControlName="exposicion"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appApp.coche.nPuertas" for="field_nPuertas">N Puertas</label>
          <input type="number" class="form-control" name="nPuertas" id="field_nPuertas" data-cy="nPuertas" formControlName="nPuertas" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appApp.coche.motor" for="field_motor">Motor</label>
          <select class="form-control" name="motor" formControlName="motor" id="field_motor" data-cy="motor">
            <option [ngValue]="null">{{ 'appApp.motor.null' | translate }}</option>
            @for (motor of motorValues; track $index) {
              <option [value]="motor">{{ 'appApp.motor.' + motor | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appApp.coche.matricula" for="field_matricula">Matricula</label>
          <input type="text" class="form-control" name="matricula" id="field_matricula" data-cy="matricula" formControlName="matricula" required pattern="\d{4}\s?(?!.*(A|E|U|I|O|Q|Ñ))[A-Z]{3}"/>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appApp.coche.marca" for="field_marca">Marca</label>
          <select class="form-control" id="field_marca" data-cy="marca" name="marca" formControlName="marca" [compareWith]="compareMarca">
            <option [ngValue]="null"></option>
            @for (marcaOption of marcasSharedCollection; track $index) {
              <option [ngValue]="marcaOption">{{ marcaOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appApp.coche.modelo" for="field_modelo">Modelo</label>
          <select
            class="form-control"
            id="field_modelo"
            data-cy="modelo"
            name="modelo"
            formControlName="modelo"
            [compareWith]="compareModelo"
          >
            <option [ngValue]="null"></option>
            @for (modeloOption of modelosSharedCollection; track $index) {
              <option [ngValue]="modeloOption">{{ modeloOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
